<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Payment History</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <style>
      ::-webkit-scrollbar {
        width: 8px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      @import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #777;
        font-family: "Poppins", sans-serif;
      }
      .wrapper {
        background-color: #222;
        min-height: 100px;
        max-width: 800px;
        margin: 10px auto;
        padding: 10px 30px;
      }
      .dark,
      .input:focus {
        background-color: #222;
      }
      .navbar {
        padding: 0.5rem 0rem;
      }
      .navbar .navbar-brand {
        font-size: 30px;
      }
      #income {
        border-right: 1px solid #bbb;
      }
      .notify {
        display: none;
      }
      .nav-item .nav-link .fa-bell-o,
      .fa-long-arrow-down,
      .fa-long-arrow-up {
        padding: 10px 10px;
        background-color: #444;
        border-radius: 50%;
        position: relative;
        font-size: 18px;
      }
      .nav-item .nav-link .fa-bell-o::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #ffc0cb;
        right: 10px;
        top: 10px;
      }
      .nav-item input {
        border: none;
        outline: none;
        box-shadow: none;
        padding: 3px 8px;
        width: 75%;
        color: #eee;
      }
      .nav-item .fa-search {
        font-size: 18px;
        color: #bbb;
        cursor: pointer;
      }
      .navbar-nav:last-child {
        display: flex;
        align-items: center;
        width: 40%;
      }
      .navbar-nav .nav-item {
        padding: 0px 0px 0px 10px;
      }
      .navbar-brand p {
        display: block;
        font-size: 14px;
        margin-bottom: 3px;
      }
      .text {
        color: #bbb;
      }
      .money {
        font-family: "Lato", sans-serif;
      }
      .fa-long-arrow-down,
      .fa-long-arrow-up {
        padding-left: 12px;
        padding-top: 8px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: 100;
        color: #28df99;
      }
      .fa-long-arrow-up {
        color: #ffa500;
      }
      .nav.nav-tabs {
        border: none;
      }
      .nav.nav-tabs .nav-item .nav-link {
        color: #bbb;
        border: none;
      }
      .nav.nav-tabs .nav-link.active {
        background-color: #222;
        border: none;
        color: #fff;
        border-bottom: 4px solid #fff;
      }
      .nav.nav-tabs .nav-item .nav-link:hover {
        border: none;
        color: #eee;
      }
      .nav.nav-tabs .nav-item .nav-link.active:hover {
        border-bottom: 4px solid #fff;
      }
      .nav.nav-tabs .nav-item .nav-link:focus {
        border-bottom: 4px solid #fff;
        color: #fff;
      }
      .table-dark {
        background-color: #222;
      }
      .table thead th {
        text-transform: uppercase;
        color: #bbb;
        font-size: 12px;
      }
      .table thead th,
      .table td,
      .table th {
        border: none;
        overflow: auto auto;
      }
      td .fa-briefcase,
      td .fa-bed,
      td .fa-exchange,
      td .fa-cutlery {
        color: #ff6347;
        background-color: #444;
        padding: 5px;
        border-radius: 50%;
      }
      td .fa-bed,
      td .fa-cutlery {
        color: #40a8c4;
      }
      td .fa-exchange {
        color: #b15ac7;
      }
      tbody tr td .fa-cc-mastercard,
      tbody tr td .fa-cc-visa {
        color: #bbb;
      }
      tbody tr td.text-muted {
        font-family: "Lato", sans-serif;
      }
      tbody tr td .fa-long-arrow-up,
      tbody tr td .fa-long-arrow-down {
        font-size: 12px;
        padding-left: 7px;
        padding-top: 3px;
        height: 20px;
        width: 20px;
      }
      .results span {
        color: #bbb;
        font-size: 12px;
      }
      .results span b {
        font-family: "Lato", sans-serif;
      }
      .pagination .page-item .page-link {
        background-color: #444;
        color: #fff;
        padding: 0.3rem 0.75rem;
        border: none;
        border-radius: 0;
      }
      .pagination .page-item .page-link span {
        font-size: 16px;
      }
      .pagination .page-item.disabled .page-link {
        background-color: #333;
        color: #eee;
        cursor: crosshair;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .wrapper {
          margin: auto;
        }
        .navbar-nav:last-child {
          display: flex;
          align-items: start;
          justify-content: center;
          width: 100%;
        }
        .notify {
          display: inline;
        }
        .nav-item .fa-search {
          padding-left: 10px;
        }
        .navbar-nav .nav-item {
          padding: 0px;
        }
      }
      @media (min-width: 300px) and (max-width: 767px) {
        .wrapper {
          margin: auto;
        }
        .navbar-nav:last-child {
          display: flex;
          align-items: start;
          justify-content: center;
          width: 100%;
        }
        .notify {
          display: inline;
        }
        .nav-item .fa-search {
          padding-left: 10px;
        }
        .navbar-nav .nav-item {
          padding: 0px;
        }
        #income {
          border: none;
        }
      }
      @media (max-width: 400px) {
        .wrapper {
          padding: 10px 15px;
          margin: auto;
        }
        .btn {
          font-size: 12px;
          padding: 10px;
        }
        .nav.nav-tabs .nav-link {
          padding: 10px;
        }
      }

      /*-----Nav bar-----*/
    
       .nav1{
        font-family: "Times New Roman", Times, serif;
       }
        .nav1 ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
    
        .nav1 ul li {
            float: left;
        }
    
        .nav1 ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    
        .nav1 ul li a:hover:not(.active1) {
            background-color: #111;
        }
    
        .active1 {
            background-color: #04AA6D;
        }
    
        /* Responsive styles */
        @media screen and (max-width: 600px) {
            .nav1 li {
                float: none;
                display: inline-block;
            }
    
            .nav1 li a {
                display: block;
                text-align: left;
            }
    
            .nav1 {
                text-align: center;
            }
        }
    </style>
  </head>
  <body className="snippet-body">
    <div class="nav1">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a class="active1" href="/paymenthistory">Payment History</a></li>
            <li><a href="/userdetail">Tenant Form</a></li>
            <li style="float:right"><a href="/logout">LogOut</a></li>
        </ul>
    </div>
    <div class="wrapper rounded">
      <nav
        class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"
      >
        <a class="navbar-brand" href="#"
          >Transactions
          <p class="text-muted pl-1">Welcome to your transactions</p>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              
              <input style="border: 3px solid #ccc;" class="dark" placeholder="Search" id="search-input" type="text" />
                <button style="background-color: #000000;" type="button" id="search-button">
                    <i style="background-color: #000000;" class="fa fa-search"></i>
                </button>
            
            </li>
          </ul>
        </div>
      </nav>
      <div class="row mt-2 pt-2">
        <div class="col-md-6" id="income">
          <div class="d-flex justify-content-start align-items-center">
            <p class="fa fa-long-arrow-up"></p>
            <p class="text mx-3">Total paid payment</p>
            <p class="text-white ml-4 money"><span id="total-amount"></span> TK/-</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end align-items-center">
            <div class=""></div>
            <div class="text mx-3"></div>
            <div class="text-white ml-4 money"></div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <ul class="nav nav-tabs w-75">
          <li class="nav-item">
            <a class="nav-link active" href="#history">History</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
        </ul>
        <button class="btn btn-primary"><a style="color: #FFFFFF;text-decoration: none;" href="/payment">Make payment</button></a>
      </div>
      <div class="table-responsive mt-3">
        <table class="table table-dark table-borderless">
          <thead>
            <tr>
              <th scope="col">cardNumber</th>
              <th scope="col">Date</th>
              <th scope="col" class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody id="payment-history-table-body">
            {{#each payments}}
            <tr>
              <td scope="row">
                <span class="fa fa-cc-visa"></span>&nbsp;&nbsp; {{this.cardNumber}}
              </td>
              <td class="text-muted"><script>document.write(new Date("{{this.date}}").toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true, month: 'short', day: 'numeric', year: 'numeric'}));</script></td>
              <td id="amount" class="d-flex justify-content-end align-items-center">
                <span class="fa fa-long-arrow-up mr-1"></span>{{this.amount}} TK/-
              </td>
            </tr>
            {{/each}}
            
          </tbody>
        </table>
      </div>
      
    </div>
    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    ></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript">
      #
    </script>
    <script type="text/javascript">
      var myLink = document.querySelector('a[href="#"]');
      myLink.addEventListener("click", function (e) {
        e.preventDefault();
      });
    </script>
    <script>
        // calculate total amount
        let totalAmount = 0;
        const paymentAmounts = document.querySelectorAll('#amount');
        paymentAmounts.forEach((amount) => {
            totalAmount += parseFloat(amount.textContent);
        });

        // display total amount
        document.getElementById('total-amount').textContent = totalAmount.toFixed(2);
    </script>
    <script>
        $(document).ready(function () {
            // Get the table rows
            var tableRows = $("#payment-history-table-body tr");

            // Add an event listener to the search button
            $("#search-button").click(filterTable);

            // Add an event listener to the search input
            $("#search-input").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    filterTable();
                }
            });

            // Function to filter the table rows based on the search keyword
            function filterTable() {
                // Get the search keyword
                var keyword = $("#search-input").val().toLowerCase();

                // Filter the table rows based on the keyword
                tableRows.each(function () {
                    var rowText = $(this).text().toLowerCase();
                    if (rowText.indexOf(keyword) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            }
        });

    </script>

  </body>
</html>
