<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap"
        rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    
    <!---resources files -->
    <title>Tenant form</title>
</head>

<body>
    <form class="form-detail" action="/reg" method="post">
        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                        {{#if errorMessage}}
                                        <div class="alert alert-danger"
                                            style="border-radius: 5px;text-align:center;margin-left: 2.4rem;" role="alert">
                                            {{errorMessage}}</div>
                                        {{/if}}

        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" name="full_name" id="form3Example1c" class="form-control"
                                                    required />
                                                <label class="form-label" for="form3Example1c">Full Name</label>
                                            </div>
                                        </div>
        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="text" name="username" id="form3Example1c" class="form-control"
                                                    required />
                                                <label class="form-label" for="form3Example1c">User Name</label>
                                            </div>
                                        </div>
        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="email" name="email" id="form3Example3c" class="form-control"
                                                    required />
                                                <label class="form-label" for="form3Example3c">Your Email</label>
                                            </div>
                                        </div>
        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" name="password" id="form3Example4c" class="form-control" minlength="5" required/>
                                                <label class="form-label" for="form3Example4c">Password</label>
                                                
                                            </div>
                                        </div>
        
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <input type="password" name="confirmpassword"
                                                    id="form3Example4cd" class="form-control" required />
                                                <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                            </div>
                                        </div>
        
                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <label class="form-check-label" for="form2Example3">
                                                Already have an account?&nbsp;&nbsp;<a href="/">Sign In </a><i class="fa-solid fa-right-to-bracket"></i>
                                            </label>
                                        </div>
        
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <input type="submit" name="register" class="btn btn-primary btn-lg"
                                                value="Register" />
                                        </div>
        
        
        
                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" >
        
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid"
                                            alt="Sample image">
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script>
        var passwordField = document.getElementById("password");
        passwordField.addEventListener("input", function () {
            if (passwordField.value.length < 5) {
                passwordField.setCustomValidity("Password must be at least 5 characters long");
            } else {
                passwordField.setCustomValidity("");
            }
        });
    </script>

    
</body>

</html>